<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>
  <body>
    <form method="post">
      <p>
        <label>
          Szín:<br />
          <input type="color" name="textcolor" />
        </label>
      </p>
      <p>
        <label>
          Szöveg:<br />
          <textarea name="content"></textarea>
        </label>
      </p>
      <p>
        <input type="submit" value="OK" />
      </p>
    </form>
  </body>
</html>
